*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Farsan&family=Merienda:wght@300;400;500;600;700&family=Nunito:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');

/* font-family: 'Farsan', cursive;
font-family: 'Merienda', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif; */

//fuentes
$fuente1: 'Nunito', sans-serif;
$fuente2: 'Merienda', cursive;

//colores
$color1: #c10049;
$color2: #ff386d;
$color3: #7019fc;
$color4: #ffffff;
$color5: #593100;

body{
    font-family: $fuente1;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Centrar en la parte superior */

}

.centered-container .logo .logoxd{
    max-width: 420px; /* Hace que la imagen sea responsiva */
    height: auto; /* Permite que la imagen mantenga su relación de aspecto */
    transition: transform 0.3s ease; /* Agrega una transición suave al cambiar el tamaño */
}

/* Custom background color */      /* Adjust this color to match your navbar */
/* .bg-custom {
    background-color: #c10049;
} */

/* Color del texto y estilo de fuente para los enlaces de la barra de navegación */
.navbar .nav-link {
    color: $color4;
    font-family: $fuente2;
    font-weight: bold;
    font-size: 16px;
}

/* Estilo para la barra de búsqueda */

form input[type="search"] {
    border: none;
    border-radius: 20px 0px 0px 20px;
}

/* Eliminar el contorno de enfoque de la barra de búsqueda */

form input[type="search"]:focus {
    outline: none;
    box-shadow: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Estilo de los botones */
/* button .navbar-toggler{
    background: none;
    border: none;
    color: #08a312;
    font-size: 18px;
    padding: 0 10px;
} */

/* Ajustar el relleno para los elementos de la barra de navegación */
.navbar-nav .nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

.d-flex{
    height: 40px;
    width: 400px;
}

.d-flex button{
    width: 80px;
    height: 40px;
    font-size: 28px;
    background-color: $color4;
    color: $color1;
    border: none;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
}

/* form .d-flex input[type="search"] button{
    margin: 0px;
} */

#cocholate #cocholate1 #cocholatexd{
    margin-top: 20px;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 70px;
}

.card{
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    width: 419px;
    height: 140px;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.card-content {
    flex: 1;
    /* padding-right: 60px; */ /* Espaciado entre el texto y la imagen */
    color: $color4;
    margin-top: 6px;
    padding: 20px;
}

h1{
    font-size: 35px;
    font-weight: 800;
    font-family: 'Merienda', cursive;
    text-align: left;
    display: flex;
    margin-top: 70px;
    color: #593100;
}

h2{
    font-size: 30px;
    font-family: $fuente2;
}

h4{
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}

img {
    max-width: 100%;
}

#tableta-cho{
    width: 140px;
    height: 120px;
}

#heladx{
    width: 176px;
    height: 126px;
}

#cupcake{
    width: 85px;       /* el ancho */
    height: 128px;  /* el altura */
}

#carta1{
    background-color: $color1;
}

#carta2{
    background-color: $color2;
}

#carta3{
    background-color: $color3;
}



#contei-publi{
    height: 1000px;
    width: 68%;
    background-color: $color3;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
}