*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Farsan&family=Merienda:wght@300;400;500;600;700&family=Nunito:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');

/* font-family: 'Farsan', cursive;
font-family: 'Merienda', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif; */

//fuentes
$fuente1: 'Nunito', sans-serif;
$fuente2: 'Merienda', cursive;

//colores
$color1: #c10049;
$color2: #ff386d;
$color3: #7019fc;
$color4: #ffffff;
$color5: #593100;

body{
    font-family: $fuente1;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Centrar en la parte superior */

}

.centered-container .logo .logoxd{
    max-width: 420px; /* Hace que la imagen sea responsiva */
    height: auto; /* Permite que la imagen mantenga su relación de aspecto */
    transition: transform 0.3s ease; /* Agrega una transición suave al cambiar el tamaño */
}

/* Custom background color */      /* Adjust this color to match your navbar */
/* .bg-custom {
    background-color: #c10049;
} */

/* Color del texto y estilo de fuente para los enlaces de la barra de navegación */
.navbar .nav-link {
    color: $color4;
    font-family: $fuente2;
    font-weight: bold;
    font-size: 16px;
}

/* Estilo para la barra de búsqueda */

form input[type="search"] {
    border: none;
    border-radius: 20px 0px 0px 20px;
}

/* Eliminar el contorno de enfoque de la barra de búsqueda */

form input[type="search"]:focus {
    outline: none;
    box-shadow: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Estilo de los botones */
/* button .navbar-toggler{
    background: none;
    border: none;
    color: #08a312;
    font-size: 18px;
    padding: 0 10px;
} */

/* Ajustar el relleno para los elementos de la barra de navegación */
.navbar-nav .nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

.d-flex{
    height: 40px;
    width: 400px;
}

.d-flex button{
    width: 80px;
    height: 40px;
    font-size: 28px;
    background-color: $color4;
    color: $color1;
    border: none;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
}

/* form .d-flex input[type="search"] button{
    margin: 0px;
} */

#cocholate #cocholate1 #cocholatexd{
    margin-top: 20px;
}

#cocholate{
    max-width: 1900px;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 70px;
}

.card{
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    width: 450px;
    height: 150px;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.card-content {
    flex: 1;
    /* padding-right: 60px; */ /* Espaciado entre el texto y la imagen */
    color: $color4;
    margin-top: 6px;
    padding: 20px;
}

h1{
    font-size: 30px;
    font-weight: 800;
    font-family: 'Merienda', cursive;
    text-align: left;
    display: flex;
    margin-top: 70px;
    margin-left: 150px;
    color: #593100;
}

h2{
    font-size: 30px;
    font-family: $fuente2;
}

h4{
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}

img {
    max-width: 100%;
}

#tableta-cho{
    width: 140px;
    height: 120px;
}

#heladx{
    width: 176px;
    height: 126px;
}

#cupcake{
    width: 85px;       /* el ancho */
    height: 128px;  /* el altura */
}

#carta1{
    background-color: $color1;
}

#carta2{
    background-color: $color2;
}

#carta3{
    background-color: $color3;
}



#contei-publi{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 1600px;
    width: 80%;
    background-color: $color4;
    margin-top: 30px;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
}

.tarjeta{
    width: 330px;
    height: 350px;
    max-width: 100%;
    border-radius: 7px;
    overflow: hidden;
    border: 2px solid #c10049;
    margin: 20px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0px 2px 4px rgba($color: #c10049, $alpha: 0.5);
}

.imj-card {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

#cora-rojo{
    width: 138px;
    height: 180px;
    margin-top: 20px;
    align-items: center;
}

h3{
    font-size: 20px;
    font-weight: 500;
    color: black;
}

p{
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: black;
}

.text-publi1{
    margin-top: 30px;
}

#caja-oso{
    width: 280px;
    height: 190px;
    margin-top: 20px;
}

.text-publi2{
    margin-top: 40px;
}

#frutos-rojos{
    width: 250px;
    height: 200px;
    margin-top: 20px;
}

.text-publi3{
    margin-top: 20px;
}

#submarino{
    width: 220px;
    height: 170px;
    margin-top: 20px;
}

.text-publi4{
    margin-top: 50px;
}

#cafe-blend{
    width: 160px;
    height: 210px;
    margin-top: 20px;
}

.text-publi5{
    margin-top: 20px;
}

#tableta-limon{
    width: 150px;
    height: 190px;
    margin-top: 10px;
}

.text-publi6{
    margin-top: 20px;
}

#bombon-surti{
    width: 300px;
    height: 170px;
    margin-top: 20px;
}

.text-publi7{
    margin-top: 60px;
}

#torta-charol{
    width: 140px;
    height: 200px;
    margin-top: 20px;
}

.text-publi8{
    margin-top: 30px;
}

#paleta-fruta{
    width: 80px;
    height: 190px;
    margin-top: 20px;
}
.text-publi9{
    margin-top: 40px;
}

#lata-bombon{
    width: 200px;
    height: 190px;
    margin-top: 20px;
}
.text-publi10{
    margin-top: 40px;
}

#tableta-berries{
    width: 160px;
    height: 200px;
}

.text-publi11{
    margin-top: 20px;
}

#lata-ositos{
    width: 250px;
    height: 200px;
    margin-top: 20px;
}

.text-publi12{
    margin-top: 30px;
}

#paleta-pistacho{
    width: 85px;
    height: 200px;
    margin-top: 20px;
}

.text-publi13{
    margin-top: 30px;
}

#masita-fina{
    width: 170px;
    height: 200px;
    margin-top: 20px;
}

.text-publi14{
    margin-top: 30px;
}

#tableta-almen{
    width: 140px;
    height: 190px;
}
.text-publi15{
    margin: 25px;
}

#macaronss{
    width: 290px;
    height: 60px;
    margin-top: 100px;
}

.text-publi16{
    margin-top: 90px;
}


/* -------------------------------------------------------------Heladería-------------------------------------------------------------------- */

h5{
    font-size: 30px;
    color: $color1;
    font-weight: 800;
    margin-top: 50px;
    text-align: center;
}

#helado-un-cuarto-kg{
    max-width: 300px;
}

#helado-medio-kg{
    max-width: 300px;
}

#helado-kg{
    max-width: 300px;
    text-align: right;
}

.card-containerh{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards{
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    width: 450px;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.card-imageh{
    height: 700px;
    width: 300px;
}

/* --------------kilos helados--------------- */
.tarjetah{
    width: 450px;
    height: 400px;
    max-width: 100%;
    border-radius: 7px;
    overflow: hidden;
    border: 2px solid $color4;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0px 2px 4px rgba($color: #c10049, $alpha: 0.5);
}

#cuarto-helado{
    width: 350px;
    height: 300px;
    margin-top: 20px;
    align-items: center;
}

#medio-helado{
    width: 350px;
    height: 300px;
    margin-top: 20px;
}

#kilo-helado{
    width: 350px;
    height: 300px;
    margin-top: 20px;
}

.fila-de-botones .boton{
    width: 160px;
    height: 50px;
    font-size: 20px;
}
.fila-de-botones {
    display: flex;
    justify-content: center
}

.boton{
    margin: 0 90px; /* Agrega un margen de 10px a todos los lados de cada botón */
    padding: 10px 20px; /* Agrega relleno (padding) a los botones para espaciar el contenido */
    margin-top: 10px;
    background-color: #c10049; /* Color de fondo del botón */
    font-weight: 600;
    color: #fff; /* Color del texto del botón */
    border: none; /* Quita el borde del botón */
    border-radius: 30px 30px 30px 30px;; /* Agrega bordes redondeados al botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    box-shadow: 0px 2px 4px rgba($color: #c10049, $alpha: 0.5);
}
/* -------------------publicaciones-helado-------------------- */


#contei-publi-hela{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* height: 1600px; */
    width: 80%;
    background-color: $color4;
    margin-top: 100px;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
}

#contei-publi-heladx{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* height: 500px; */
    width: 80%;
    background-color: $color4;
    margin-top: 30px;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
}

#palet-frambu{
    width: 190px;
    height: 200px;
    margin-top: 15px;
}

.text-publi1{
    margin-top: 20px;
}

#choco-salsa{
    width: 190px;
    height: 200px;
    margin-top: 15px;
}

.text-publi2{
    margin-top: 20px;
}

#vaini-carame{
    width: 190px;
    height: 200px;
    margin-top: 15px;
}

.text-publi3{
    margin-top: 20px;
}

#limon-frambu{
    width: 190px;
    height: 200px;
    margin-top: 15px;
}

.text-publi4{
    margin-top: 20px;
}

#coco-mango{
    width: 190px;
    height: 200px;
    margin-top: 15px;
}

.text-publi5{
    margin-top: 20px;
}

#rosa-fruti{
    width: 190px;
    height: 200px;
    margin-top: 15px;
}

.text-publi6{
    margin-top: 20px;
}

#vaini-aranda{
    width: 190px;
    height: 200px;
    margin-top: 15px;
}

.text-publi7{
    margin-top: 20px;
}

#pop-caramel{
    width: 190px;
    height: 200px;
    margin-top: 15px;
}

.text-publi8{
    margin-top: 20px;
}

#cucu-choco{
    width: 100px;
    height: 200px;
    margin-top: 15px;
}

.text-publi9{
    margin-top: 40px;
}

#conito{
    width: 100px;
    height: 200px;
    margin-top: 15px;
}

.text-publi10{
    margin-top: 40px;
}

#cora-dulce{
    width: 140px;
    height: 200px;
    margin-top: 15px;
}

.text-publi11{
    margin-top: 40px;
}

#datil-almen{
    width: 210px;
    height: 200px;
    margin-top: 15px;
}

.text-publi12{
    margin-top: 30px;
}

#duo-almend{
    width: 200px;
    height: 200px;
    margin-top: 15px;
}

.text-publi13{
    margin-top: 30px;
}

#blan-cooki{
    width: 200px;
    height: 200px;
    margin-top: 15px;
}

.text-publi14{
    margin-top: 30px;
}

#palet-cora{
    width: 150px;
    height: 200px;
    margin-top: 15px;
}

.text-publi15{
    margin-top: 30px;
}

#duo-caramel{
    width: 200px;
    height: 200px;
    margin-top: 15px;
}

.text-publi16{
    margin-top: 30px;
}